body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./components/imagenes/fondo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  background-image: url("./components/imagenes/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 16cm;
  display: flex;
  align-items: flex-end;
}
#Copyright {
  padding: 5px;
  padding-bottom: 20px;
  color: aliceblue;
}
